@{
    ViewBag.Title = "Sudo ku";
}

<div class="jumbotron">
    <div class="container">
        <h1>$:> sudo ku</h1>
        <p>Built from the root up</p>
        <p><a href="@Url.Action("Play", "Home")" class="btn btn-success btn-lg">Start playing »</a></p>
    </div>
</div>
